<div class="forgot">
    <div class="email-link">
        <h4>Enter email to send Reset Password link</h4>
        <div class="email-input">
            <form [formGroup]="forgotForm" >
                <input type="text" formControlName="email" placeholder="Enter email">
                <div *ngIf="forgotForm.get('email').invalid && forgotForm.get('email').touched" class="text-danger">
                    <div *ngIf="forgotForm.get('email').hasError('required')">Email is required.</div>
                    <div *ngIf="forgotForm.get('email').hasError('pattern')">Invalid email format.</div>
                </div>
            </form>
        </div>
        <br>
        <button type="submit" class="btn" (click)="sendLink()">Send</button>
        <br>
        <div *ngIf="errorMessage" class="text-danger" style="font-size: small;">
            {{ errorMessage }}
        </div>
    </div>
    <!-- <div class="success">
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>
    </div> -->
</div>