.forgot {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(91, 120, 128, 0.501);
}

.email-link {
    position: fixed;
    height: 280px;
    width: 450px; 
    background: white;
    backdrop-filter: blur(50px);
    border-radius: 10px;
    box-shadow: 0 0 50px black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 25px;
    transition: all ease 0.5s;
}

.email-link h4 {
    height: 50px;
    text-decoration-line: wavy;
    color: black;
}

.email-input {
    position: relative;
    height: 15px;
    background: white;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.email-input input{
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 75px;
}

button {
    background: white;
    color: black;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}

button:hover {
    background: green;
    color: black;
}

.email-link:hover {
    box-shadow: 0px 0px 20px 1px rgba(83, 213, 100, 0.549);
    border: 1px solid rgba(83, 186, 160, 0.513);
  }