<div class="forgot">
    <div class="email-link">
        <h2>Recover Password</h2>
        <h4>Enter your email address here! we'll email you a link to a page where you can create a new password.</h4>
        <div class="email-input">
            <form [formGroup]="forgotForm">
                <input type="text" formControlName="email" placeholder="Enter email">
                <div *ngIf="forgotForm.get('email').invalid && forgotForm.get('email').touched" class="text-danger">
                    <div *ngIf="forgotForm.get('email').hasError('required')">Please enter valid email address.</div>
                    <div *ngIf="forgotForm.get('email').hasError('pattern')">Invalid email format.</div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <button type="submit" class="btn" (click)="sendLink()">Send</button>
        <br>
        <div *ngIf="errorMessage" class="text-danger" style="font-size: small;">
            {{ errorMessage }}
        </div>
    </div>
</div>

<!-- <div class="success">
        <div *ngIf="showT" class="success-message">
            {{ successMessage }}
        </div>
    </div> -->