<div class="reset">
    <div class="reset-password">
        <!--  -->
        <h2>Enter your New Password</h2>
        <form [formGroup]="resetForm" (ngSubmit)="reset()">
            <div class="input-reset">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="newpassword">
                <div class="visibility">
                    <input type="checkbox" (change)="passwordVisibility()">show password
                </div>
                <label>New Password<span class="required-asterisk text-danger">*</span></label>
                <div class="message">
                    <div *ngIf="resetForm.get('newpassword').invalid && resetForm.get('newpassword').touched"
                        class="error-message">
                        <div *ngIf="resetForm.get('newpassword').hasError('required')">New Password is required.</div>
                        <div *ngIf="resetForm.get('newpassword').hasError('pattern')">Invalid New Password</div>
                    </div>
                </div>
            </div>
            <div class="input-reset">
                <input type="password" formControlName="confirmpassword">
                <label>Confirm New Password<span class="required-asterisk text-danger">*</span></label>
                <div *ngIf="resetForm.get('confirmpassword').invalid && resetForm.get('confirmpassword').touched"
                    class="error-message">
                    <div *ngIf="resetForm.get('confirmpassword').hasError('required')">Confirm Password is required.
                    </div>
                    <div *ngIf="resetForm.get('confirmpassword').getError('Mismatch')">Password Mismatch</div>
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
            <div class="success">
                <div *ngIf="successMessage" class="success-message">
                    {{ successMessage }}
                </div>
            </div>
        </form>
    </div>
</div>