
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="btn btn-outline-success my-2 my-sm-0" href="index.jsp">Home
                    <span class="sr-only">(current)</span>
            </a>
        </ul>
        <form class="form-inline my-8 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">About Us</button> &nbsp;
            
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Contact</button> &nbsp;
            
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="sign-up.jsp" role="button">sign-up</a>
        </form>
    </div>
</nav>